* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
}

/* NAVBAR */
header {
    background: #2c3e50;
    color: white;
    padding: 15px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    display: flex;
    list-style: none;
}

nav ul li {
    margin-left: 20px;
}

nav a {
    color: white;
    text-decoration: none;
}

/* HERO */
.hero {
    height: 90vh;
    background: url('image/villa1.jpg') center/cover no-repeat;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

    background-blend-mode: darken;
    background-color: rgba(0,0,0,0.5);
}

.hero h2 {
    font-size: 40px;
}

.hero p {
    margin: 10px 0;
}

.btn {
    background: #27ae60;
    padding: 12px 25px;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}

/* GALLERY */
.gallery {
    padding: 50px;
    text-align: center;
}

.images {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.images img {
    width: 300px;
    margin: 10px;
    border-radius: 10px;
    transition: 0.3s;
}

.images img:hover {
    transform: scale(1.05);
}

/* CONTACT */
.contact {
    padding: 40px;
    background: #ecf0f1;
    text-align: center;
}

/* FOOTER */
footer {
    background: #2c3e50;
    color: white;
    text-align: center;
    padding: 15px;
}

/* RESPONSIVE */
@media (max-width: 768px) {
    .hero h2 {
        font-size: 28px;
    }

    .images img {
        width: 90%;
    }
}

.info {
    padding: 40px;
    text-align: center;
    background: #f9f9f9;
}

.fasilitas {
    padding: 50px;
    text-align: center;
}

.fasilitas-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 15px;
    margin-top: 20px;
}

.fasilitas-list div {
    background: #27ae60;
    color: white;
    padding: 15px;
    border-radius: 10px;
    transition: 0.3s;
}

.fasilitas-list div:hover {
    transform: scale(1.05);
}

.fasilitas-list div {
    background: #27ae60;
    color: white;
    padding: 15px 25px;
    border-radius: 10px;
}

.harga {
    padding: 40px;
    background: #f4f4f4;
    text-align: center;
}

.lokasi {
    padding: 40px;
    text-align: center;
}
